<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ContosoPartners"
		     connectionString="Server=192.168.0.117\SQLEXPRESS;Database=user36;Login=User36;Password=wsruser36"
		     providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>